/*
selected tag{
    property: value;
} */

body{
    background-color: gray;
    background-image: url(https://cdn.discordapp.com/attachments/546482188623806488/583901761530494976/YouEatAllMyBEANS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

div.orryx{
    background-color: rgba(234, 43, 222, .19);
    border-color: rgb(234, 43, 222);
    border-width: 3px;
    border-style: dotted;
}

#amongus{
    margin: 0 auto;
    width: 100px;
}

p{
    color: beige;
    background-color: black;
}

h1{
   color: red;
   background-color: black;
}

li{
    color: rgb(234, 43, 222);
    background-color: black;
}

#korvazPrIson{
    position: relative;
    height: 400px;
}

[id^="AiNsLeYiShE"]{
    position: absolute;
    width: 400px;
    height: 400px;
}